*{
 margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Bubbler One';font-size: 25px;
}
.App-logo{
    height: 6em;
    margin-top: 20px;
}
.PageHeader{
    background-color: #33E0FF;
    webkit-box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.3);
    border-style: none;
}
/**
    Menu de saludo al usuario
 */
#UserMenu{
    color: azure;
    background-color: #33E0FF;
    font-size: 22px;
}
.GitHubIco{
    text-align: center;
    color: #2e5b9a;
    font-size: 2em;
    margin-left: 40%;
}
.GitHubIco:hover{
    transition: 100ms;
    margin-left: 40%;
    transform: scale(2,2);
    color: #90c33f;
}
#rootMenuDiv,#subMenuLabelsDiv{
    overflow-y:hidden;
    max-height: 100px;
    overflow-x: auto;
    white-space: nowrap;
}

#paginationDiv{
    margin: 15px 0px 15px 0px;
    text-align: center;
}

.RootMenuItem{
    transition: .2s;
    font-family: 'Bubbler One';
    color: #F73C29;
    height: 3.8em;
    font-size: 25px;
    font-weight: lighter;
    width: 100px;
    margin: 3px 1em 3px 1em;
    display: inline-block;
    text-align: center;
}
.SubMenuRowTitle{
    display: table;
}
.RootMenuItem:hover,.SubMenuItem:hover{
    transition: .5s;
    transform: scale(1.1,1.1);
    color: #F77129;
}
.RootMenuItem:active,.SubMenuItem:active{
    transition: .2s;
    transform: scale(.8,.8);
    color: #F77129;
}
.RootMenuItemIcon{
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 5px;
    cursor: pointer;
}
.RootMenuItemLabel{
    cursor: pointer;
}
.subMenuRow{
    margin-top: 40px;
}
.SubMenuItem{
    transition: .2s;
    font-family: 'Arial';
    color: #F73C29;
    height: 1.8em;
    font-size: 16px;
    font-weight: lighter;
    width: 100px;
    margin: 0px 0.7em 0px 0.7em;
    display: inline-block;
    text-align: center;
    cursor: col-resize ;
}

.subMenuTitle{
    display: center-block;
    width: 50em;
    margin: 10px 0px 30px 20px ;
    color: #2e5b9a;
    font-weight: bold;
}
.TotalCounter{
    font-size: 20px;
    color: dimgrey;
}
.ReportGrid{
    text-align: center;
    background-color: #eaf3ff;
    border-radius: .3em;
    padding: 5px;

}
.ReportWrapper{
    background-color: #fcfdff;
    border-style: dotted;
    border-width: .5px;
    border-color: #84b0ed;
    border-radius: .2em;
    min-height: 128px;
    padding: 6px;
    margin-bottom: 5px;
}
.ReportWrapper Button{
    margin-top: 10px;
}
.ReportValue{
    color: #2e5b9a;
    font-size: 20px;

}
.ReportLabel{
    color: dimgrey;
}
.Active{
    color: #2e5b9a;
    border-bottom-style: solid;
    border-bottom-color: #2e5b9a;
    font-weight: bolder;
}
.ugly{
    background-color: red;
}
